Working with Series

In [2]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series

In [3]:
series_data = Series([1,2,3,4,5])

In [4]:
series_data

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
#prints the values 
series_data.values

array([1, 2, 3, 4, 5], dtype=int64)

In [7]:
#prints the index values
series_data.index

RangeIndex(start=0, stop=5, step=1)

In [8]:
marks = Series([98,95,93,75], index =['Maths','science','chemistry','hindi'])

In [9]:
# prints both the index and marks
marks

Maths        98
science      95
chemistry    93
hindi        75
dtype: int64

In [10]:
marks.index

Index([u'Maths', u'science', u'chemistry', u'hindi'], dtype='object')

In [11]:
marks > 80

Maths         True
science       True
chemistry     True
hindi        False
dtype: bool

In [12]:
marks[marks >80]

Maths        98
science      95
chemistry    93
dtype: int64

In [13]:
'science' in marks

True

In [14]:
marks_dict = marks.to_dict()

In [15]:
marks_dict

{'Maths': 98, 'chemistry': 93, 'hindi': 75, 'science': 95}

In [16]:
marks = Series(marks_dict)

In [17]:
marks

Maths        98
chemistry    93
hindi        75
science      95
dtype: int64

In [21]:
 subjects = ['Maths','chemistry','hindi','science','social']

In [22]:
marks = Series(marks_dict,index=subjects)

In [23]:
marks

Maths        98.0
chemistry    93.0
hindi        75.0
science      95.0
social        NaN
dtype: float64

In [24]:
pd.isnull(marks)

Maths        False
chemistry    False
hindi        False
science      False
social        True
dtype: bool

In [25]:
pd.notnull(marks)

Maths         True
chemistry     True
hindi         True
science       True
social       False
dtype: bool

In [26]:
marks

Maths        98.0
chemistry    93.0
hindi        75.0
science      95.0
social        NaN
dtype: float64

Working with Series Done
Working with DataFrames

In [27]:
import webbrowser
websites = 'https://en.wikipedia.org/wiki/NFL_win%E2%80%93loss_records'
webbrowser.open(websites)

True

In [28]:
nfl_records = pd.read_clipboard()

In [29]:
nfl_records

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East
4,5,New England Patriots,476,383,9,0.554,1960,868,AFC East

In [32]:
nfl_records.columns

Index([u'Rank', u'Team', u'Won', u'Lost', u'Tied', u'Pct.',
       u'First NFL Season', u'Total Games', u'Division'],
      dtype='object')

In [34]:
nfl_records.Team
#nfl_records.Team or nfl_records[Team]

0          Dallas Cowboys
1       Green Bay Packers
2           Chicago Bears
3          Miami Dolphins
4    New England Patriots
Name: Team, dtype: object

In [36]:
DataFrame(nfl_records,columns=['Team','First NFL Season','Total Games'])

                   Team  First NFL Season Total Games
0        Dallas Cowboys              1960         866
1     Green Bay Packers              1921       1,320
2         Chicago Bears              1920       1,354
3        Miami Dolphins              1966         784
4  New England Patriots              1960         868

In [38]:
#returns the number of records provided or 5 records a s default
nfl_records.head(3)

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North

In [39]:
# to retreive row data 
nfl_records.ix[3]

Rank                             4
Team                Miami Dolphins
Won                            439
Lost                           341
Tied                             4
Pct.                         0.563
First NFL Season              1966
Total Games                    784
Division                  AFC East
Name: 3, dtype: object

In [42]:
nfl_records['Stadium'] = "Levi's Stadium"

In [43]:
nfl_records

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East,Levi's Stadium
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North,Levi's Stadium
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North,Levi's Stadium
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East,Levi's Stadium
4,5,New England Patriots,476,383,9,0.554,1960,868,AFC East,Levi's Stadium

In [49]:
stadiums = Series(['Levis','At&t'], index = [4,0])

In [50]:
stadiums

4    Levis
0     At&t
dtype: object

In [51]:
nfl_records['Stadium'] = stadiums

In [52]:
nfl_records

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East,At&t
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North,NaN
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North,NaN
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East,NaN
4,5,New England Patriots,476,383,9,0.554,1960,868,AFC East,Levis

In [53]:
nfl_records

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East,At&t
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North,NaN
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North,NaN
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East,NaN
4,5,New England Patriots,476,383,9,0.554,1960,868,AFC East,Levis

In [54]:
#Creating a dataframe from dictionary
data = {'City':['sf','la','ch'],'Population':[1234,2345,3456]}

In [55]:
city_population  = DataFrame(data)

In [56]:
#Dataframe created 
city_population

  City  Population
0   sf        1234
1   la        2345
2   ch        3456